# Entorno virtual
venv/
.env

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
viajes.db

# Translations compiled
translations/**/LC_MESSAGES/*.mo

# Editor / Sistema
.vscode/
.DS_Store
Thumbs.db

# Logs
*.log
